/**********
** BUTTONS!
http://tympanus.net/codrops/2013/06/13/creative-button-styles/ (download source)
**********/
.button {
	border: 3px solid #fff;
	padding: 20px 50px;
	margin: 15px 15px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.button:hover,
.button:active {
	color: orange;
	background: #fff;
}