html, body{ /* needed to remove horizontal scroll http://stackoverflow.com/questions/14270084/overflow-xhidden-doesnt-prevent-content-from-overflowing-in-mobile-browsers */
  overflow-x:hidden;
}
a,a:link,a:visited
{
  color: rgb(18, 103, 53);
  text-decoration:none;
}
a:hover { /* any nav link (a) that has the class selected will get these attributes */
  color: #85CD75;
}
.site-header {/* header.html */
  border-top: 8px rgb(48, 53, 56);
  letter-spacing: 1.3px;
}
.site-header .wrapper {
  max-width: none;
}
.landing_page .site-header { /* landing_page.html */
  background:
    /* top, transparent red, faked with gradient */
    radial-gradient(ellipse,
      rgba(48, 53, 56, 0.7),
      rgba(48, 53, 56, 1.0)
    ),
    /* bottom, image */
    url('/img/background.jpg'); /* https://www.pexels.com/photo/coffee-apple-iphone-desk-45/ */
  /*  background-image: radial-gradient(circle at top right, rgb(18, 103, 53), rgb(18, 103, 53)); */
  background-position: center center;
  background-size:cover;
  border-top: 0px;
}
.landing_page .description {
  font-size: 1.1em;
  text-align: center;
}
.offering-explanation {
  font-weight: 600;
}
.site-title {
  letter-spacing: 1.2px;
}
.landing_page .site-title {
  color: white;
  font-size: 4em;
  font-weight: 300;
  text-align: center;
  width: 100%;
  margin: 30px auto;
  padding-bottom: 30px;
  line-height: 1.1;
}
.landing_page .owner {
  color: white;
  padding-top: 30px;
  padding-bottom: 10px;
  border-bottom: 2px solid;
  font-size: 1.6em;
  font-weight: 300;
  text-align: center;
  width: 250px;
  display: block;
  clear: both;
  margin: 0 auto;
}
.landing_page h1 {
  font-size: 2.5em;
  font-weight: 300;
  text-align: center;
}
.page-link {
  font-size: 1.2em;
  font-weight: 300;
}
.landing_page .page-link {
  color: white;
}
/* use on box type lists */
.boxlist {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.skill-item {
  margin-bottom: 30px;
}
.skill-title {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
  font-size: 1.1em;
  color: black;
  text-transform: uppercase;
  border-bottom: solid 2px;
}
.list-description {
  font-size: 1.0em;
}
.offerings {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
#offering1 {
  margin-bottom: 60px;
}
.offering-title {
  font-size: 1.8em;
  color: black;
  margin: 0px auto;
  margin-bottom: 30px;
  font-weight: 300;
  max-width: 300px;
  text-align: center;
  /*text-transform: uppercase;*/
  border-bottom: solid 2px;
}
.offering-value-title {
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 0px;
}
.offering-value {
  margin-bottom: 30px;
}
.offering-icon-container {
  overflow: hidden;
}
.offering-icon {
  width: 32px;
	height: 32px;
	fill: #424242;
}
#offering-container {
  margin: 60px 0px;
  display: block;
  clear: both;
  overflow-x: hidden;
}
#offering-container .button{
  max-width: 100px;
  margin: 0px auto;
}
.item-1 {
  border-bottom-color: dodgerblue;
}
.item-2 {
  border-bottom-color: red;
}
.item-3 {
  border-bottom-color: green;
}
.item-4 {
  border-bottom-color: #F19C37;
}
.item-5 {
  border-bottom-color: #50F371;
}
.item-6 {
  border-bottom-color: #5718BE;
}
.item-7 {
  border-bottom-color: #BE18A5;
}
.item-8 {
  border-bottom-color: #19FFF0;
}
.item-9 {
  border-bottom-color: #FFD000;
}
/*************
** Testimonials Section
**************/
.gray {
  background-image: radial-gradient(circle at center, #D7D7D7, #fdfdfd);
  clear: both;
  height:100%;
  width:100%;
  padding-left: 1000px;
  margin-left: -1000px;
  padding-right: 1000px;
  margin-right: -1000px;
  padding-top: 30px;
  padding-bottom: 30px;
  display: inline-block;
  overflow-x: hidden;
}
.gray h1 {
  text-align: center;
  margin: 10px auto;
  margin-bottom: 60px;
  color: black;
  width: 40px;
  height: 40px;
  background: white;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  font-family:Georgia, "Times New Roman", Times, serif;
  quotes: "\201C""\201D""\2018""\2019";
}
.gray h1:before {
  content: open-quote;
}
.testimonial-component {
  background-color: #FFFFFF;
  max-width: 300px;
  border-radius: 2%;
  padding: 5px 20px;
  text-align: left;
  margin-bottom: 30px;
  display: inline-block;
}
.signature {
  font-family: 'Homemade Apple', cursive;
  padding:0;
  margin: 0px 40px;
  color:black;
}
.company {
  color: black;
  margin: 0 40px;
  font-size: 0.75em
}
/*************
** Skills Section
**************/
.skills {
  padding-top: 30px;
  overflow: hidden;
}
/*************
** Contact.html
**************/
#contact_page {
  margin-bottom: 60px;
  overflow: hidden;
}
.profile-photo {
  max-width: 200px;
  border-radius: 100%; /* makes the picture a cirle rather than a square */
  margin-bottom: 25px;
}
#primary-column {
  text-align: center;
}
#secondary-column {
  text-align: center;
}
.contact-info {
  list-style: none;
  margin-left: 0;
}
/*************
** Contact Form
**************/
#contact-form-line {
  height:2px;
  border-width:0;
  background-color: #e8e8e8;
  width: 60%;
  margin: 30px auto 40px auto;
}
#contact-form {
  clear: both;
  margin-bottom: 60px;
}
#contact-form h1 {
  font-size: 2.0em;
  font-weight: 300;
  text-align: center;

}
.contact-form-item {
  width: calc(100% - 22px);
  margin: 15px auto;
  padding: 10px 10px;
  display: block;
  font-size: 1em;
  border: 1px solid #D1D1D1;
 }
#contact-form input {
  border: 1px solid #D1D1D1;
  font-family: inherit; /*needed for firefox*/
  font-size: inherit; /*needed for firefox*/
}
#contact-form textarea{
  resize: vertical;
  font-family: inherit; /*needed for firefox*/
  font-size: inherit; /*needed for firefox*/
}
#contact-form button{
  margin: 10px auto;
  padding: 20px 0;
  font-size: 1em;
  width: 100%;
}
#overlay button{
  margin: 30px auto;
  padding: 20px 0;
  font-size: 1em;
  width: 100%;
}
#contact-form-container{
  position: relative; /*this is required so that the overlay gets positioned correctly, not sure why*/
}
#submit-success {
  display: none;
}
#submit-errors {
  display: none;
}
#overlay {
    background: rgba(255,255,255,1);/*0,0,0 = black, 0.7 is opacity*/
    width: 100%;
    height: calc(100% - 50px);
    position: absolute;
    top: 50px;
    left: 0;
    display: none;
    text-align: center;
}
#overlay p {
  font-size: 1.5em;
}

/*************
** /blogs/
**************/
#blogs {
  text-align: center;
}
#blogs h2 {
  margin-bottom: 5px;
}
.post-link {
  font-weight: 300;
  font-size: 1.0em;
}
.post-title {
  font-weight: 300;
  font-size: 2.4em;
}
.post-list li {
  clear: both;
}
.post-list > li {
  margin-bottom: 60px;
}
.post-excerpt {
  font-size: 1.1em;
}
#blog-info {
  text-align: center;
}
#page_numbers {
  margin: 10px 0;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
#rss-subscribe {
  margin-top: 30px;
}
.category-list {
  list-style: none;
  margin-left: 0;
}
.post-by-category {
  list-style: none;
  margin-left: 0;
}
#blogs .button {
  max-width: 100px;
  font-weight: 600;
  margin: 10px auto;
}
/*************
** Blog posts
**************/
.rss-subscribe {
  font-size: 0.9em;
}
.post-template {
  max-width: 900px;
  font-size: 1.1em;
  word-wrap: normal;
}
.post-template h1 {
  margin-top: 30px;
  font-size: 1.7em;
}
.post-template h2 {
  font-size: 1.6em;
  color: gray;
}
.post-template h3 {
  font-size: 1.4em;
  color: gray;
}

/*************
** The following is to support twitter blockquotes
**************/
blockquote svg {
  max-height: 20px;
  max-width: 20px;
}
a svg path {
  fill: #00ACFF;
}
blockquote a {
  color: inherit;
}
blockquote a:link {
  color: inherit;
}
blockquote a:visited {
  color: inherit;
}
blockquote p {
  display:inline;
}
blockquote {
  padding: 10px 20px;
  margin: 30px 0;
}
/*************
** Resume
**************/
.resume h1 {
  text-align: center;
  border-bottom: 3px rgb(18, 103, 53);
  width: 90%;
  margin: 0 auto;
  padding-bottom: 10px;
}
#resume_contact_info {
  text-align: center;
  margin: 15px 0;
  font-size: 0.9em;
}
.resume h2 {
  clear: both;
  margin: 10px 0;
  border-bottom: 2px dotted rgb(18, 103, 53);
  width: 95%;
}
.resume_job_item{
  margin-bottom: 15px;
}
.resume_skill {
  float: left;
  font-size: .9em;
  width: calc(100% - 113px);//this is the width of .skill_level plus a little added padding
}
.resume ul {
  margin: 0 0 0 20px;
}
.resume_education_item {
  padding-bottom: 10px;
}
.resume_education_name {
  font-weight: bold;
}
.resume_education_source {
  text-transform: uppercase;
  white-space:nowrap;
}
.resume_year {
  font-size: .9em;
}
.resume_company {
  font-size: 1.1em;
  font-weight: 400;
}
.resume_position {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 5px;
}
.resume_education_item ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-style: italic;
  clear: both;
  margin-top: 5px;
  font-size: .9em;
}
.resume_skill_level {
  float: right;
  width: 110px;
}
.resume_skill_group {
  clear: both;
}
.resume_skill_level .circle {
  margin: 0 0 0 -2px;
}
@media screen and (min-width: 600px) {
  .resume #primary-column {
    border-right: 2px dotted rgb(18, 103, 53);
    padding-right: 5px;
  }
}
/*for printing resume */
@media print {
  .resume {
    font-size: .7em;
  }
  .resume #primary-column {
    border-right: 2px dotted rgb(18, 103, 53);
    padding-right: 5px;
  }
  .resume .wrapper {
    max-width: 675px;
  }
  .resume h1 {
    padding: 5px;
    margin-top: -5px;
  }
  .resume ul {
    margin: 0 0 0 10px;
  }
  .resume_education_item {
    padding-bottom: 5px;
  }
  .resume_job_item{
    margin-bottom: 10px;
  }
  #primary-column {
    width: 65%;
    float: left;
    text-align: left;
  }
  #secondary-column {
    width: 32%;
    float: right;
    text-align: left;
  }
}
/*************
** Footnotes
**************/
.footnotes {
  font-size: 0.8em;
  margin-top: 60px;
}
/**********
** BUTTONS!
http://tympanus.net/codrops/2013/06/13/creative-button-styles/ (download source)
**********/
.button {
  border: 2px solid rgb(18, 103, 53);
	padding: 8px 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  background-color: white;
  color: rgb(18, 103, 53);
  display: block;
  clear: left;
  font-size: .9em;
  margin: 5px auto 20px auto;
}
.button:hover,
.button:active {
	color: white;
	background: #85CD75;
  border: 2px solid #85CD75;
}
/*************
** Footer
**************/
#copyright {
  text-align: center;
  font-size: 0.8em;
  color: #828282;
}
@media screen and (max-width: 600px){
  h1 {
    text-align: center;
  }
  .landing_page .site-nav .page-link {
    color: #424242;
    font-weight: 400;
  }
  .site-footer{
    text-align: center;
  }
}

@media screen and (min-width: 600px) {
  /* if the screen is larger than 600 we want to show the offerings in 3 columns */
  .landing_page .site-header .wrapper {
    margin-bottom: 40px;
  }
  .page-content .wrapper {
    max-width: 1000px;
  }
  a.page-link:hover {
    border-bottom: 3px rgb(18, 103, 53);
  }
  .landing_page a.page-link:hover {
    border-bottom: 3px solid white;
  }
  .landing_page .site-title {
    padding-bottom: 50px;
  }
  #offering1 {
    width: 48%;
    float: left;
    text-align: left;
    margin-bottom: 0px;
  }
  #offering2 {
    width: 48%;
    float: right;
    text-align: left;
  }
  .offering-item {
    float: right;
    width: calc(100% - 50px);
  }
  .skill-title {
    width: 100%;
    margin-bottom: 10px;
  }
  .skill-item {
    float: left; /*this allows the list items to be placed left to right rather than up/down*/
    width: 25%;
    margin: 4.16666%;
  }
  .testimonial-component {
    width: 40%;
    margin: 0 1% 20px 1%;
    vertical-align : middle;
  }
  .boxlist li:nth-child(3n+1) { /* we want to do the following the every 3rd item in the list starting with the fouth (i.e. +1)*/
    clear: left;
  }
  #primary-column {
    width: 65%;
    float: left;
    text-align: left;
  }
  #secondary-column {
    width: 32%;
    float: right;
    text-align: left;
  }
  #primary-column img {
    margin-left: 25px;
  }
  #blogs {
    width: 70%;
    float: left;
    text-align: left;
  }
  #blog-info {
    width: 20%;
    float: right;
    text-align: left;
  }
  #blogs .button {
    margin: 10px 0;
  }
  .button {
    margin-left: 0px;
    margin-right: 0px;
  }
}
