/* 
Examples of other imports:
  @import 'base.css';
  @import 'layout.css';
  @import 'typography.css';
*/

@import 'buttons.css';




* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
	line-height: 1.5;
    color: #878787;
    text-align: center;
}

header {
    /*     background-color: orange; */
    background-image: radial-gradient(circle at top right, darkorange, orange);
    padding-bottom: 50px;
    margin-bottom: 30px;
}

header span {
	color: white;
    border-bottom: 2px solid;
	font-size: 26px;
    letter-spacing: 1.3px;
    line-height: 2;
    padding-bottom: 10px;
    font-weight: lighter;
}

header h1 {
	font-size: 4em;
	font-weight: normal;
	margin: 24px 0 50px 0;
    line-height: 1;
    color: white;
}

h2 {
    font-size: 2em;
}

p {
    color: #808083;
    line-height: 1.5;
    font-size: 1.1em;
}


/* use in any section where you
* don't want to span the width
* of the page */
.wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
    display: block;
}

/* links */
a,a:link,a:visited
{
 color: darkorange;
 text-decoration:none;
}

a:hover { /* any nav link (a) that has the class selected will get these attributes */
    color: #00ACFF;
}

header a, header a:link, header a:visited
{
    color: white;
}

/* use on box type lists */
.boxlist {
    list-style: none;
    margin: 0;
    padding: 0;
}

.offering-title {
    font-size: 1.2em;
    color: black;
    text-transform: uppercase;
    border-bottom: solid 3px;
}

.list-description {
    font-size: 0.9em;
}

.first-item {
    border-bottom-color: dodgerblue;
}

.second-item {
    border-bottom-color: red;
}

.third-item {
    border-bottom-color: green;
}

footer {
    font-size: 0.75em;
    text-align: center;
    padding-top: 50px;
    clear: both; /* for some reason this made footer go from being in the gallery to being down in the bottom */
}

.social-icon {
    width: 30px;
    height: 30px;
    margin: 0 5px;
}

/*navigation bar*/
nav {
    text-align: center;
    padding: 0px 0px;
}

nav ul {
    list-style: none;
    margin: 0 0;
    padding: 0 0;   
}

nav a {
    padding: 1px 8px;
    -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

nav a, nav a:visited { /* we want the links to stay white even if they have selected them */
    color: #fff;   
}

nav a.selected, nav a:hover { /* any nav link (a) that has the class selected will get these attributes */
    color: orange;
    background-color: white;
}

/*testimonials section*/
.gray {
    background-image: radial-gradient(circle at center, #A8A8A8, lightgray);
    clear: both;
    height:100%;
    width:100%;
    display: inline-block;
}

testimonials h2{
    color: white;
}

.testimonial-component {
    max-width: 300px;
    background-color: white;
    border-radius: 2%;
    padding: 5px 20px;
    text-align: left;
    margin-bottom: 20px;
    display: inline-block;
}

.signature {
    font-family: 'Homemade Apple', cursive;
    padding:0;
    margin: 0px 40px;
    color:black;
}

.company {
    color: black;
    margin: 0 40px;
    font-size: 0.75em
}


/*************
** CONTACT PAGE
**************/
.profile-photo {
  max-width: 200px;
  border-radius: 100%; /* makes the picture a cirle rather than a square */
}



.contact-info {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-width: auto;
}

.contact-info a {
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px; /* this sets the size which corresponds to the background-image found below */
    padding: 0 0 0 30px;
    margin: 0 0 10px;
    color: #878787;
    text-align: left;
}

.contact-info li.phone a {
    background-image: url('../img/phone.png');
}

.contact-info li.mail a {
    background-image: url('../img/mail.png');
}

.contact-info li.twitter a {
    background-image: url('../img/twitter.png');
}


