


@media screen and (min-width: 480px) { 
    nav {
        margin: 0 0 50px 0;
        text-align: right;
        padding: 0px 0px;
    }
    
    nav ul {
        margin-right: 20px;
        
    }
    
    nav li {
        display: inline-block;
    }
}

@media screen and (min-width: 600px) { /* if the screen width is larger than 600px than apply the following styles 
    480px is common for phones in landscape mode*/
    
    /* if the screen is larger than 580 we want to show the offerings in 3 columns */
    .offerings {
        float: left; /*this allows the list items to be placed left to right rather than up/down*/
        width: 25%;
        margin: 4.16666%;
    }
    .testimonial-component {
        width: 40%;
        margin: 0 5% 20px 5%;
        vertical-align : middle;
    }
    #primary-contact {
        width: 60%;
        float: left;
        text-align: left;
    }
    #secondary-contact {
        width: 30%;
        float: right;
        text-align: left;
    }
    #primary-contact img {
        margin-left: 25px;
    }
}

