* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
	line-height: 1.5;
    color: #878787;
    text-align: center;
    max-width: 670px;
    border: solid 1px;
    
}

header {
    border-bottom: solid 3px;
    border-color: orange;
    margin: 0;
    padding: 10px;
}

header h1 {
    padding: 0;
    margin: 0;
}