---
layout: landing_page
keywords: startups, strategy, consulting, ideas
owner: Shane Kercheval
---

{% assign offerings = site.data.value.offerings %}
{% assign testimonials = site.data.value.testimonials %}
{% assign skills = site.data.value.skills %}

{% include master.svg %}

<div class="home">
  <!-- <h1>
    {{ site.data.value.intro.header }}
  </h1> -->
  <p class="description">{{ site.data.value.intro.description }} 
  <!-- <span class="offering-explanation">{{ site.data.value.intro.offering }}</span> -->
  </p>
  <div id=offering-container>
    {% for offering in offerings %}
      <div id="offering{{ forloop.index }}" class="offerings">
        <p class="offering-title">{{ offering.name }}</p>
        {% for value in offering.value %}
          <div class="offering-icon-container">
            <svg class="offering-icon {{ value.icon }}"><use xlink:href="#{{ value.icon }}"></use></svg>
            <div class="offering-item">
              <p class="offering-value-title">{{ value.title }}</p>
              <p class="offering-value">{{ value.description }}</p>
            </div>
          </div>

        {% endfor %}
      </div>
    {% endfor %}
  </div>
  <div class="gray">
      <h1></h1>
      <ul class="boxlist">
        {% for testimonial in testimonials %}
          <li class="testimonial-component">
            <p class="list-description">"{{ testimonial.testimonial }}"</p>
            <p class="signature">
              {{ testimonial.name }}
            </p>
            <p class="company">
              {{ testimonial.position }}, {{ testimonial.company }}
            </p>
          </li>
        {% endfor %}
      </ul>
  </div>
  <!-- <div class="skills">
    <h1>Skills</h1>
    <ul class="boxlist">
      {% for skill in skills %}
        <li class="skill-item">
          <div class="item-{{ forloop.index }} skill-title">{{ skill.name }}</div>
          <p class="list-description">{{ skill.description }}</p>
        </li>
      {% endfor %}
    </ul>
  </div> -->
  {% include contact-form.html %}
</div>
