<footer class="site-footer">

{% assign siteInfo = site.data.contacts['site'] %}

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ siteInfo.email }}">{{ siteInfo.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if siteInfo.github_username %}
          <li>
            {% include icon-github.html username=siteInfo.github_username %}
          </li>
          {% endif %}

          {% if siteInfo.twitter_username %}
          <li>
            {% include icon-twitter.html username=siteInfo.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>
    <p id='copyright'>&copy; 2014-<script>document.write(new Date().getFullYear())</script> {{ site.owner }}. | <a href="{{ site.url }}/privacy-policy/" target="_blank">Privacy Policy</a></p>
  </div>

</footer>
