<!--
https://developers.facebook.com/tools/debug/
-->
<meta property="og:url" content="{% if page.url == '/' %}{{ site.url }}/index.html{% else %}{{ site.url }}{{ page.url }}{% endif %}" />
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }} | {{ site.owner }}{% endif %}" />
<meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt }}{% else %}{{ site.description }}{% endif %}" />
<meta property="og:type" content="website" />
<meta property="og:image" content="{% if page.thumbnail %}{{ site.url }}{{ page.thumbnail }}{% else %}{{ site.url }}{{ site.data.config.large_logo }}{% endif %}" />
<meta property="og:image:width" content="{% if page.thumbnail %}{{ page.thumbnail_width }}{% else %}{{ site.data.config.large_logo_width }}{% endif %}" />
<meta property="og:image:height" content="{% if page.thumbnail %}{{ page.thumbnail_height }}{% else %}{{ site.data.config.large_logo_height }}{% endif %}" />
