<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="landing_page">
    {% include google-tag-manager.html %}
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
    <script src="http://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ "/js/app.js" | prepend: site.baseurl }}" type="text/javascript" charset="utf-8"></script>
  </body>

</html>
